body {
    margin: 0;
    padding: 0;
    font-family: helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

h1 {
    padding: 18px 20px;
    margin: 0;
    font-size: 44px;
    border-bottom: solid 1px #DDD;
    line-height: 1em;
}

form {
    padding: 20px;
    width: auto;
}

input {
    width: 100%;
    padding: 6px;
    font-size: 1.4em;
}

.todo-table {
    margin: 0;
    padding: 0;
    list-style: none;
}

.todo-table td {
    padding-left: 20px;
}

.todo-table th {
    text-align: left;
    padding-left: 20px;
}

.done {
    text-decoration: line-through;
}

.hidden {
    visibility: hidden;
}

.ui-datepicker {
    background-color: #aaaaaa;
}
